.all{
  position: relative;
}
body{
}
.title{
  color:#fff;
  font-size:0.2rem;
  height: 0.44rem;
  padding: 0 0.15rem;
  border-bottom: 1px solid #D9E0E6;
  line-height: 0.44rem;
  background-image: linear-gradient(-226deg, #FFB34A 0%, #FF7744 100%);
}
.prompt{
  font-size:0.15rem;
  height: 0.44rem;
  padding: 0 0.15rem;
  border-bottom: 1px solid #D9E0E6;
}
.s_shares{
  height: 4rem;
  padding: 0 0.15rem;
  /* background-color: red; */
}
.shares_name{
  font-size:0.25rem;
}
.shares_radar{
  font-size:0.25rem;
}
.FundDiagnosis {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.08rem;
}
.FundTab{
  padding-top:0.4rem;
  position: relative;
}
.loadingBox{
  height:3.5rem;
  display:flex;
  justify-content:center;
  align-items:center
}

.ruleContentBox{
  width: 100%;
  height:100%;
  position: fixed;
  top:0rem;
  left: 3rem;
  background: rgb(0,0,0,0.4);
  z-index:1000;
  display: none;
  justify-content: center;
  /* align-items: center; */
}
.ruleContent{
  background: #fff;
  width:100%;
  height:100%;
  padding: 0.15rem;
  /* border-radius: 0.04rem; */
  overflow-y:auto 
}
.ruleTitle {
  position: relative;
  border-bottom: 0.01rem solid rgba(0,0,0,0.04);
  padding-bottom:0.14rem;
  font-size:0.16rem;
  text-align: center;
  font-family: PingFangSC-Medium;
  color: #45474A;
  line-height: 0.16rem;
  
}
.ruleInc{
  margin-top:0.19rem;
}
.ruleInc>ul li{
  margin-bottom:0.15rem
}
.ruleInc ul li p{
  
  font-family: PingFangSC-Medium;
  font-size:0.14rem;
  color: #6E7175;
  letter-spacing: 0;
  line-height:0.14rem;
  margin-bottom:0.08rem;
}
.ruleInc ul li div{
  font-family: SFProText-Regular;
font-size: 0.14rem;
color: #AAAAAA;
letter-spacing: 0;
}
.ruleTitle a{
  position: absolute;
  width: 0.15rem;
  height:0.15rem;
  right:0.05rem;
  top:0rem;
  /* background: red; */
}
.ruleTitle img{
  width: 100%;
  height:100%;
  transform:rotate(180deg);
-ms-transform:rotate(180deg); /* Internet Explorer */
-moz-transform:rotate(180deg); /* Firefox */
-webkit-transform:rotate(180deg)
}
.clearfix:after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  clear:both;
  visibility:hidden;
  }
.rule-bottom>p img{
  width: 0.18rem;
  height:0.18rem;
  /* border: 0.01rem solid #B08440; */
  margin-right:0.04rem;
  
}
.rule-bottom>p{
  font-family: SFProText-Medium;
  font-size: .14rem;
  color: #B08440;
  letter-spacing: 0;
  line-height: .14rem;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  font-weight: 500
}
.score-img{
  margin-bottom:0.05rem;
  /* height:1.6rem */
}
.score-img li{
  float: left;
  width:20%;
  height: 1.45rem;
  display: flex;
  justify-content: center;
  align-items: flex-end
}
.score-img li img{
  width:65%
}
.score-word li{
  float: left;
  width:20%;
}
.score-word li span{
  display: block;
}
.score-word li span:nth-of-type(1){
  font-family: PingFangSC-Medium;
  font-size: .14rem;
  color: #6E7175;
  text-align: center;
  line-height: .14rem;
}
.score-word li span:nth-of-type(2){
  font-family: SFProText-Medium;
  font-size: .12rem;
  color: #AAAAAA;
  letter-spacing: 0;
  text-align: center;
  line-height: .12rem;
  margin-top:0.06rem;
}